/* This is a comment in CSS */
table, th, td {
    border: 1px solid black;
    text-align: center;
}

/* Universal selector */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
    background-color: aqua;
}

#demo {
    color: #00ffff;
    background-color: rgb(0, 0, 175);
}